@import "./_options.styl"
@import "./modules/_normalizer.styl"

webfont('Freigeist', 'Freigeist-Regular', 400)
webfont('Freigeist', 'Freigeist-Bold', 700)
webfont('Lovelace', 'Lovelace-Regular', 400)
webfont('Lovelace', 'Lovelace-Bold', 700)


html, body
  background-color #fff
  font-family ff1